body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #0066cc;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  font-size: 20px;
}


section {
  padding: 40px 20px;
  text-align: center;
}


h2 {
  color: #0066cc;
  margin-bottom: 20px;
}


.destinations {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.card h3 {
  color: #009966;
}


@media (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }

  .card {
    width: 90%;
  }
}
